@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ff8c00;
  --bg-light: #F9F9FD;
  --bg-dark: #1F1E2E;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--bg-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background: var(--bg-dark);
  color: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ff8c00;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a1bd1;
}